<html>
<head>
{% block hybridauth_header %}
{% endblock %}
</head>
<body>
{% for key,flashMessage in app.session.flashbag.all() %}
    <div class="flash-{{ key }}">
        {{ flashMessage }}
    </div>
{% endfor %}
{% block hybridauth_content %}
        <div class="services">
            {% for service in services %}
                <div class="service">
                    <a href="?provider={{ service.name }}" class="social {{ service.type }}">{{ service.name }}</a><br/>
                </div>

            {% endfor %}
        </div>

{% endblock %}
</body>
</html>
