<html>
<head>
{% block hybridauth_header %}
{% endblock %}
</head>
<body>
{% for type,flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
        <div class="flash-{{ type }}">
            {{ flashMessage }}
        </div>
    {% endfor %}
{% endfor %}
{% block hybridauth_content %}
        <div class="services">
            {% for service in services %}
                <div class="service">
                    <a href="?provider={{ service.name }}" class="social {{ service.type }}">{{ service.name }}</a><br/>
                </div>

            {% endfor %}
        </div>

{% endblock %}
</body>
</html>
